.productpage-content {
  display: flex;
  padding: 50px;
}

.productpage-img-container {
  flex: 1;
}

.productpage-img-container img {
  width: 80%;
}

.productpage-info-container {
  flex: 1;
}

.productpage-info-container p {
  margin: 20px 0;
}

.productpage-info-container h1 span {
  font-size: 25px;
  font-weight: normal;
  margin-left: 20px;
}

.productpage-discount {
  font-size: 18px;
  color: orange;
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.productpage-des {
  font-size: 20px;
  margin-bottom: 40px;
}

.productpage-price {
  font-size: 30px;
}

/* .size-btn button {
  border: 1px solid lightgray;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.size-btn button.selected {
  background-color: #000;
  color: #fff;
} */

/* .productpage-amount-container {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.productpage-amount-container button {
  background-color: #000;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  border: 1px solid lightgray;
  padding: 5px 15px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productpage-amount-container span {
  margin: 0 10px;
  font-size: 28px;
} */

.add-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
}

.add-btn span {
  margin-right: 10px;
  font-size: 25px;
}

@media only screen and (max-width: 1040px) {
  .productpage-info-container h1 {
    margin-top: 0;
  }

  .productpage-discount {
    font-size: 18px;
  }

  .productpage-des {
    font-size: 15px;
  }

  .productpage-price {
    font-size: 20px;
  }
}
@media only screen and (max-width: 850px) {
  .productpage-content {
    flex-direction: column;
    padding: 30px;
  }

  .productpage-img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .productpage-img-container img {
    width: 60%;
  }

  .add-btn-container {
    display: flex;
    align-items: center;
  }
  .add-btn {
    margin-left: 20px;
    padding: 8px 12px;
  }

  .add-btn span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .productpage-content {
    padding: 15px;
  }

  .productpage-img-container img {
    width: 70%;
  }
}

@media only screen and (max-width: 430px) {
  .productpage-info-container h1 {
    font-size: 25px;
  }

  .productpage-discount {
    font-size: 15px;
  }

  .productpage-des {
    font-size: 13px;
  }

  .add-btn {
    margin-left: 20px;
    padding: 6px 10px;
  }

  .add-btn span {
    font-size: 16px;
  }
}
