.container {
  background-color: #fff;
  position: sticky;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 99;
}

.wrapper {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  margin-left: 20px;
}

.input[type="text"] {
  border: none;
  font-size: 18px;
  outline: none;
  background-color: transparent;
}

.center {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.logo {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-item {
  font-size: 18px;
  cursor: pointer;
  margin-right: 25px;
}

.menu-icon {
  display: none;
}

hr {
  border: 0.5px solid lightgray;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu-item {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.menu-item-title {
  padding: 5px;
  margin: 5px 10px;
  box-sizing: border-box;
  width: 120px;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.menu-item p {
  /* padding-bottom: 10px; */
  text-decoration: none;
  color: #000;
}

.container.active {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(30px);
}

.input.active {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(30px);
}

.dropdown {
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown-item {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  padding: 12px 16px;
  width: 200px;
  text-align: center;
  left: -30%;
  top: 100%;
  z-index: 1;
}

.dropdown-item p {
  padding: 10px;
  font-size: 18px;
  display: block;
  transition: all 0.2s ease-in-out;
}

.dropdown-item p:hover {
  color: rgb(255, 115, 0);
  transform: scale(1.2);
  font-weight: 700;
}

.dropdown:hover .dropdown-item {
  display: block;
}

.Loginbox-container {
  background-color: #fff;
  border: none;
  position: relative;
  padding: 10px 0;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.Loginbox-content-container {
  padding: 40px 10px;
}

.Loginbox-content-container h1 {
  text-align: center;
  margin-top: 0;
}

.Loginbox-content-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Loginbox-content-container form input {
  margin: 0 10px 25px 0;
  width: 70%;
  padding: 10px;
  font-size: 18px;
  outline: none;
}

/* .Loginbox-content-container form input:invalid {
  border: 1px solid red;
} */

.Loginbox-content-container form input:focus {
  background-color: #000;
  border: 1px solid gray;
  color: #fff;
}

.Loginbox-content-container form button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  min-width: 40%;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
  }

  .left {
    margin-left: 20px;
  }

  .search-container {
    width: 50%;
  }

  .input[type="text"] {
    width: 85%;
  }
}

@media only screen and (max-width: 730px) {
  .menu-icon {
    display: block;
    margin-right: 10px;
  }

  .right {
    flex: 2;
    margin-right: 40px;
  }

  .right-item {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  .left {
    display: none;
  }

  hr {
    display: none;
  }

  .menu-item {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: aqua;
  }

  .menu-item-title {
    margin-left: 30px;
    justify-content: flex-start;
  }
}
