.footer-container {
  background-color: black;
  color: #fff;
  box-sizing: border-box;
}
.footer-content-container {
  display: flex;
  justify-content: center;
}

.footer-left {
  padding: 20px;
  margin: 0 auto;
}

.footer-center {
  padding: 20px;
  margin: 0 auto;
}

.footer-right {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
}

.footer-right h2 {
  font-weight: 800;
}

.footer-social-media-container {
  display: flex;
}

.footer-social-media {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(86, 86, 86);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.footer-center h2 {
  margin-bottom: 30px;
  font-weight: 800;
}

.footer-get-help {
  display: flex;
  margin: 0;
}

.footer-get-help p {
  margin-top: 0;
}

.footer-contact {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.footer-get-help-left {
  margin-right: 40px;
}

.footer-credit {
  display: flex;
  justify-content: center;
  border-top: 1px solid #fff;
  padding: 10px 0 20px 0;
}

@media only screen and (max-width: 720px) {
  .footer-content-container {
    font-size: 80%;
  }

  .footer-contact {
    margin-bottom: 10px;
  }

  .footer-center h2 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 555px) {
  .footer-left {
    padding: 10px;
  }

  .footer-center {
    padding: 10px;
  }

  .footer-right {
    padding: 10px;
  }

  .footer-social-media-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-social-media {
    width: 30px;
    height: 30px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 555px) {
  .footer-content-container {
    flex-direction: column;
    font-size: 100%;
    align-items: center;
  }

  .footer-content-container h2 {
    text-align: center;
  }

  .footer-get-help {
    justify-content: center;
    align-items: center;
  }

  .footer-get-help-left {
    margin-right: 10px;
    margin-left: 20px;
  }

  .footer-social-media-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-social-media {
    margin: 0 5px;
    display: flex;
    justify-content: center;
  }
}
